.main-container-task {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* border: 1px solid black; */
  max-height: 1000px;
  max-width: 1200px;
}

.task-block {
  /* min-height: 300px; */
  padding: 2px;
  background-color: lightblue;
  display: flex;
  /* align-items: center; */
  /* width: 100%; Адаптивная ширина */
  max-width: 1000px;
  min-width: 420px;
  gap: 10px; /* Расстояние между блоками */
}

.left-task-block, .middle-task-block, .right-task-block {
  flex-shrink: 0; /* Запретить сжатие */
}

.left-task-block, .right-task-block {
  flex-basis: 50px; /* фиксированная ширина для блоков */
}

.left-task-block {
  border: 1px solid black;
  /* display: flex; */

  /* justify-content: center; */
}


.middle-task-block {
  /* display: flex; */
  /* align-items: center; */
  flex: 1; /* Занимает оставшееся пространство */
  /* word-wrap: break-word; Перенос текста, чтобы не было горизонтальной прокрутки */
  border: 1px solid black;
  overflow: hidden; /* Обрезаем содержимое, выходящее за границы */
  align-items: center; /* Центрируем элементы по вертикали */
}

.middle-task-block-text {
  display: -webkit-box; /* Поддержка многоточий */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Показываем только две строки */
  overflow: hidden; /* Скрываем лишний текст */
  text-overflow: ellipsis; /* Добавляем многоточие */
  line-height: 1.8em; /* Высота строки зависит от размера шрифта */
  max-height: calc(1.8em * 2); /* Высота для двух строк */
  padding: 0 10px; /* Внутренние отступы */
  word-wrap: break-word; /* Перенос слов при необходимости */
  cursor: pointer;
}

.middle-task-block-text.expanded-text {
  -webkit-line-clamp: unset; /* Убираем ограничение строк */
  overflow: visible; /* Показываем весь текст */
  max-height: none; /* Убираем высоту */
}



@media (max-width: 768px) {
  .main-container-task {
    /* padding: 5px; */
  }
  .task-block {
    max-width: 720px;
  }
}

@media (min-width: 769px) {
  .main-container-task {
    /* padding: 20px; */
  }
  .task-block {
    max-width: 1200px; /*  Ограничиваем ширину контейнера задачи */
  }
}

.crossing-out {
  position: absolute;
  width: 120%;
  height: 2px;
  background-color: currentColor;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.icon-no-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: rgba(0, 0, 0, 0.54);
}

@keyframes rotatePause {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotatePause {
  animation: rotatePause 1.5s infinite ease-in-out;
}

.noAnimation {
  animation: none;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    30% { transform: scale(1.1); }
    50% { transform: scale(1); }
    70% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
  
.heartbeat {
    animation: heartbeat 1.5s infinite ease-in-out;
}
  
@keyframes gentleSwing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(6deg); }
    100% { transform: rotate(0deg); }
}
  
.gentleSwing {
    animation: gentleSwing 2s infinite ease-in-out;
}

@keyframes softBlink {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}
  
.softBlink {
    animation: softBlink 2s infinite ease-in-out;
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}
  
.tilt {
    animation: tilt 2s infinite ease-in-out;
}