/* Стили для мобильных устройств */
@media (max-width: 768px) {
    body {
      font-size: 14px; /* Меньший шрифт для мобильных */
    }
  
    .container {
      padding: 10px;
    }
}

/* Стили для более крупных устройств */
@media (min-width: 769px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 20px;
    }
}

/* работа с относительными единицами вместо пикселей для адаптивности */
html {
  font-size: 16px; /* Базовый размер шрифта */
}

h1 {
  font-size: 2rem; /* 2rem = 32px */
  margin-bottom: 1rem; /* 16px */
}

button {
  font-size: 1em; /* Зависит от родителя */
  padding: 0.5em 1em; /* Отступы зависят от размера текста кнопки */
}

